# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from lxml import html

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [ ]:
# your code here
response = requests.get(url)
response

In [ ]:
response.content
soup = BeautifulSoup(response.content, 'html.parser')
# soup
# print(soup.prettify())

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
people_tags = soup.find_all('h1', {"class": "h3 lh-condensed"})

# get the text of the child of each element in list
people = [tag.a.text.strip() for tag in people_tags]

people_nick_tags = soup.find_all('p', {"class": "f4"})
people_nick = [tag.text.strip() for tag in people_nick_tags][1:]

hot_devs = [people[i] + ' (' + people_nick[i] + ')' for i in range(len(people))]
hot_devs

['Vladimir Mihailenco (vmihailenco)',
 'PySimpleGUI (PySimpleGUI)',
 'Will McGugan (willmcgugan)',
 'Lee Robinson (leerob)',
 'LoveSy (yujincheng08)',
 'Jose Diaz-Gonzalez (josegonzalez)',
 'Franck Nijhof (frenck)',
 'Anurag Hazra (anuraghazra)',
 'Raphaël (sundowndev)',
 'Joe Masilotti (joemasilotti)',
 'Jaco (jacogr)',
 'Daishi Kato (dai-shi)',
 'Arseny Kapoulkine (zeux)',
 'Emil Ernerfeldt (emilk)',
 'Daniel Martí (mvdan)',
 'Teemu R. (rytilahti)',
 'Alex Gaynor (alex)',
 'Gajus Kuizinas (gajus)',
 'Felix Angelov (felangel)',
 'Balázs Orbán (balazsorban44)',
 'Jan De Dobbeleer (JanDeDobbeleer)',
 'Henning Dieterichs (hediet)',
 'Copple (kiwicopple)',
 'van Hauser (vanhauser-thc)',
 'Indrajeet Patil (IndrajeetPatil)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'

In [ ]:
# your code here
response1 = requests.get(url2)
response1

In [ ]:
response.content
soup1 = BeautifulSoup(response1.content, 'html.parser')
# soup1
# print(soup1.prettify())

In [ ]:
dev_names = soup1.find_all('h1', attrs={'class': 'h3 lh-condensed'})

names = [tag.text.strip().split('/').pop().replace('\n\n      ','') for tag in dev_names]
names

['openpilot',
 'python-mini-projects',
 'Python',
 'manim',
 'devops-exercises',
 'Awesome-Linux-Software',
 'OSX-KVM',
 'youtube-dl',
 'yt-dlp',
 'botty',
 'PySimpleGUI',
 'covid-19-data',
 'APT-Hunter',
 'redun',
 'GHunt',
 'RsaCtfTool',
 'backtrader',
 'sherlock',
 'AI-Writer',
 'widevine-L3-WEB-DL-Script',
 'freqtrade',
 'discord.py',
 'learn-python',
 'core',
 'HeyTapTask']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [ ]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [ ]:
# your code here
response2 = requests.get(url3)
# response2
response2.content
soup2 = BeautifulSoup(response2.content, 'html.parser')
# soup2
# print(soup2.prettify())
images = soup2.find_all('a', attrs={'class': 'image'})

image=['https://en.wikipedia.org/' + image['href'] for image in images]
image

for x in image:
    print(x)

https://en.wikipedia.org//wiki/File:Walt_Disney_1946.JPG
https://en.wikipedia.org//wiki/File:Walt_Disney_1942_signature.svg
https://en.wikipedia.org//wiki/File:Walt_Disney_envelope_ca._1921.jpg
https://en.wikipedia.org//wiki/File:Trolley_Troubles_poster.jpg
https://en.wikipedia.org//wiki/File:Steamboat-willie.jpg
https://en.wikipedia.org//wiki/File:Walt_Disney_1935.jpg
https://en.wikipedia.org//wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg
https://en.wikipedia.org//wiki/File:Disney_drawing_goofy.jpg
https://en.wikipedia.org//wiki/File:DisneySchiphol1951.jpg
https://en.wikipedia.org//wiki/File:WaltDisneyplansDisneylandDec1954.jpg
https://en.wikipedia.org//wiki/File:Walt_disney_portrait_right.jpg
https://en.wikipedia.org//wiki/File:Walt_Disney_Grave.JPG
https://en.wikipedia.org//wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg
https://en.wikipedia.org//wiki/File:Disney_Display_Case.JPG
https://en.wikipedia.org//wiki/File:Disney1968.jpg
https://en.wikipedia.org//wiki/File:Disneyland_Resort_logo.svg
https://en.wikipedia.org//wiki/File:Animation_disc.svg
https://en.wikipedia.org//wiki/File:P_vip.svg
https://en.wikipedia.org//wiki/File:Magic_Kingdom_castle.jpg
https://en.wikipedia.org//wiki/File:Video-x-generic.svg
https://en.wikipedia.org//wiki/File:Flag_of_Los_Angeles_County,_California.svg
https://en.wikipedia.org//wiki/File:Blank_television_set.svg
https://en.wikipedia.org//wiki/File:Flag_of_the_United_States.svg

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [ ]:
# This is the url you will scrape in this exercise
url4 = 'https://www.wikipedia.org/'

In [ ]:
# your code here
response3 = requests.get(url4)
# response2
response3.content
soup3 = BeautifulSoup(response3.content, 'html.parser')
# soup3
# print(soup3.prettify())
lang_soup = soup3.find_all('div', attrs={'class': 'central-featured'})



list_lang= []
for i in range(len(lang_soup[0].find_all('a'))):
  list_lang.append(lang_soup[0].find_all('a')[i].text.strip().replace('\xa0','').replace('\n',' '))


list_lang

['English 6383000+ articles',
 '日本語 1292000+ 記事',
 'Русский 1756000+ статей',
 'Deutsch 2617000+ Artikel',
 'Español 1717000+ artículos',
 'Français 2362000+ articles',
 '中文 1231000+ 條目',
 'Italiano 1718000+ voci',
 'Português 1074000+ artigos',
 'Polski 1490000+ haseł']

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [ ]:
# This is the url you will scrape in this exercise
url5 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
# your code here
response4 = requests.get(url5)
# response2
response4.content
soup4 = BeautifulSoup(response4.content, 'html.parser')
# soup4
# print(soup4.prettify())

In [ ]:

pd.read_html(url5)[1].head(10)

   Rank                            Language  ...  Language family        Branch
0     1                    Mandarin Chinese  ...     Sino-Tibetan       Sinitic
1     2                             Spanish  ...    Indo-European       Romance
2     3                             English  ...    Indo-European      Germanic
3     4  Hindi (sanskritised Hindustani)[9]  ...    Indo-European    Indo-Aryan
4     5                             Bengali  ...    Indo-European    Indo-Aryan
5     6                          Portuguese  ...    Indo-European       Romance
6     7                             Russian  ...    Indo-European  Balto-Slavic
7     8                            Japanese  ...          Japonic      Japanese
8     9                 Western Punjabi[10]  ...    Indo-European    Indo-Aryan
9    10                             Marathi  ...    Indo-European    Indo-Aryan

[10 rows x 6 columns]

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [ ]:
# This is the url you will scrape in this exercise 
url6 = 'https://www.imdb.com/chart/top'

In [ ]:
# your code here
response5 = requests.get(url6)
# response2
response5.content
soup5 = BeautifulSoup(response5.content, 'html.parser')
# soup5
# print(soup.prettify())

In [ ]:
imb = soup5.find_all('td', attrs={'class': 'titleColumn'})
# display(imb)
dummy=str(imb[1].find_all('a')[0]).replace('<a href="/title/tt0111161/" title="','').replace('</a','').replace('>','(dir.),').split('(dir.),')
# imb[0]
# lang_soup[0].find_all('a')[i].text.strip().replace('\xa0','').replace('\n',' ')

In [ ]:
imb[0].span.text

'(1994)'

In [ ]:
# imb.span.text

In [ ]:
year=[value.span.text.replace('(', '').replace(')','') for value in imb]
# year

In [ ]:
dir_actor= [movie.a.get('title').split('(dir.),') for movie in imb]
# dir_actor

In [ ]:
concat_list= zip(dir_actor,year)
# list(concat_list)

movies_df=pd.DataFrame(dir_actor)
movies_df.columns=['Director', 'Actor']
movies_df['years']=pd.DataFrame(year)

movies_df

                  Director                                  Actor years
0          Frank Darabont             Tim Robbins, Morgan Freeman  1994
1    Francis Ford Coppola                Marlon Brando, Al Pacino  1972
2    Francis Ford Coppola               Al Pacino, Robert De Niro  1974
3       Christopher Nolan            Christian Bale, Heath Ledger  2008
4            Sidney Lumet                Henry Fonda, Lee J. Cobb  1957
..                     ...                                    ...   ...
245            Rob Reiner              Cary Elwes, Mandy Patinkin  1987
246      Federico Fellini       Giulietta Masina, François Périer  1957
247           Wim Wenders    Harry Dean Stanton, Nastassja Kinski  1984
248  Krzysztof Kieslowski     Irène Jacob, Jean-Louis Trintignant  1994
249        Zaza Urushadze             Lembit Ulfsak, Elmo Nüganen  2013

[250 rows x 3 columns]

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url7 = 'https://www.imdb.com/list/ls009796553/'

In [ ]:
# your code here
# your code here
response6 = requests.get(url7)
# response6
response6.content
soup6 = BeautifulSoup(response6.content, 'html.parser')
# soup6
# print(soup.prettify())

In [ ]:
imb_10 = soup6.find_all('div', attrs={'class': 'lister-item-content'})
# imb_10

In [ ]:
imb_10[5].a.text

'A Time to Kill'

In [ ]:
new=[]
year=[]
for i in range(len(imb_10)):
  m=imb_10[i].h3.text.split('.').pop().replace('\n','').replace('\n','').replace(')','').split('(')
  if len(m)>2:
    new.append(' '.join(m[:2]))
  else:
    new.append(m[0])
  year.append(m[-1])
  

# display(new)
# display(year)
movies_df=pd.DataFrame(zip(new,year))

In [ ]:
# //*[@id="main"]/div/div[3]/div[3]/div[2]/div[2]/p[2]/text()
try_xpath=html.fromstring(response6.content)
buyers = try_xpath.xpath('//*[@id="main"]/div/div[3]/div[3]/div[1]/div[2]/p[2]/text()')
# buyers
sumary=[]
for i in range(len(buyers)):
  sumary.append(try_xpath.xpath('//*[@id="main"]/div/div[3]/div[3]/div["i"]/div[2]/p[2]/text()'))


finals = [strings for strings in sumary[0]]
finals[0:10]
pd.DataFrame(finals[0:10])

# # your code here
# # your code here
# response6 = requests.get(url7)
# # response6
# response6.content
# soup6 = BeautifulSoup(response6.content, 'html.parser')
# # soup6
# # print(soup.prettify())

                                                   0
0  \nThe monstrous spirit of a slain child murder...
1  \nThe victims of an encephalitis epidemic many...
2  \nTwo sisters join the first female profession...
3  \nA father becomes worried when a local gangst...
4  \nWhen a boy prays for a chance to have a fami...
5  \nIn Canton, Mississippi, a fearless young law...
6  \nIn 1839, the revolt of Mende captives aboard...
7  \nA "National Geographic" film crew is taken h...
8  \nRussell, single father balances his work as ...
9  \nA former neo-nazi skinhead tries to prevent ...

In [ ]:
movies_df['sumary']=pd.DataFrame(finals[0:10])
movies_df.head(10)

                           0  ...                                             sumary
0  A Nightmare on Elm Street  ...  \nThe monstrous spirit of a slain child murder...
1                 Awakenings  ...  \nThe victims of an encephalitis epidemic many...
2      A League of Their Own  ...  \nTwo sisters join the first female profession...
3               A Bronx Tale  ...  \nA father becomes worried when a local gangst...
4     Angels in the Outfield  ...  \nWhen a boy prays for a chance to have a fami...
5             A Time to Kill  ...  \nIn Canton, Mississippi, a fearless young law...
6                    Amistad  ...  \nIn 1839, the revolt of Mende captives aboard...
7                   Anaconda  ...  \nA "National Geographic" film crew is taken h...
8          A Cool, Dry Place  ...  \nRussell, single father balances his work as ...
9         American History X  ...  \nA former neo-nazi skinhead tries to prevent ...

[10 rows x 3 columns]

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here